:root{
    --dose: cute;
    --yellow: #fbc02d;
    --blue: #2196F3;
    --green: #b2f252;
    --red: #ed4242
}

/*  
██████╗░░█████╗░░██████╗███████╗      ██╗░██████╗    
██╔══██╗██╔══██╗██╔════╝██╔════╝      ██║██╔════╝    
██║░░██║██║░░██║╚█████╗░█████╗░░      ██║╚█████╗░    
██║░░██║██║░░██║░╚═══██╗██╔══╝░░      ██║░╚═══██╗    
██████╔╝╚█████╔╝██████╔╝███████╗      ██║██████╔╝    
╚═════╝░░╚════╝░╚═════╝░╚══════╝      ╚═╝╚═════╝░    

░█████╗░██╗░░░██╗████████╗███████╗
██╔══██╗██║░░░██║╚══██╔══╝██╔════╝
██║░░╚═╝██║░░░██║░░░██║░░░█████╗░░
██║░░██╗██║░░░██║░░░██║░░░██╔══╝░░
╚█████╔╝╚██████╔╝░░░██║░░░███████╗
░╚════╝░░╚═════╝░░░░╚═╝░░░╚══════╝ :D*/

/* UI */

#customizeButton {
    bottom: 210px;
    height: 300px;
    color: transparent!important;
    background-color: transparent!Important;
    box-shadow: none!important;
    top: -300px;
    left: -27px;
    transform: scale(1.3);
    clip-path: polygon(43% 31%, 49% 24%, 69% 26%, 70% 48%, 80% 51%, 85% 59%, 73% 73%, 73% 94%, 40% 96%, 41% 86%, 29% 83%, 29% 73%, 17% 81%, 15% 73%, 20% 74%, 22% 69%, 26% 65%, 28% 51%, 42% 48%, 43% 42%);
}

#menuClassNameTag {
    margin-top: -600px;
    position: absolute;
    text-shadow: none;
    color: #fff;
    z-index: 100;
    font-size: 19px
}



/* Removal */

#ammoIcon {
    display: none!Important
}

#timerIcon {
    display: none!Important
}


#aContainer {
    display: none!important
}

#voiceDisplay{
	display: none;
}

#uiBase.onMenu #voiceDisplay {
    display: none;
}

.imageButton {
   display: none!important
}

.endAHolder {
    display: none!important
}

#endAContainer {
    display: none!important
}

#supportMapCreator {
    display: none!important
}

#supportKrunker {
    display: none
}

.UIB {
    background-color: transparent !important
}

.leftUIB {
    background-color: transparent !important
}

#healthValueHolder {
    background-color: transparent !important
}

#leaderDisplay {
    background-color: transparent!Important
}

.countIcon {
    background-color: transparent!Important    
}

#merchImg{
	display: none;
}

#policeButton{
    display: none!important;
}

#curGameInfo{
    display: none!important
}

.weapKey{
    display: none!important
}

#weapDisplay{
    display: none!important
}

#reloadMsg {
    background: transparent !important;
}

/* Health */

#hudClassIcon {
    display: none;
}

#healthValueHolder {
    display: inline-block;
    background-color: rgba(0,0,0,.0);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 9px;
    padding-right: 7px;
    padding-left: 9px;
    transform: translate(0,123%);
}

#healthValue {
    color: #000;
    font-size: 24px;
    will-change: transform;
    display: inline-block;
    text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
}

#challIcon {
    width: 28px;
    height: 28px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    display: none;
}

#maxHP {
    color: rgba(255,255,255,1);
}

#healthBar {
    display: inline-block;
    z-index: 3;
    height: 50px
}

.healthBarSeg {
    width: 80px;
    display: inline-block;
    border-radius: 0px;
    margin-right: -1px;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}

.hpBSeg {
    height: 100%;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 -10px 0 0 rgba(0,0,0,.28);
    -moz-box-shadow: inset 0 -10px 0 0 rgba(0,0,0,.28);
    box-shadow: inset 0 -10px 0 0 rgba(0,0,0,0);
}

/* Chat */

#uiBase.onMenu #chatHolder {
    position: fixed;
    bottom: 20px!important;
    left: 150px;  
}

#chatHolder {
    bottom: 100px !important;
    transition: .5s;
    left: 20px;
}

#chatInput {
	background-color: #00000000 !important;
}

#chatInput::placeholder {
    color: #ffffff00;
}

.chatItem {
    border-radius: 0;
    max-width: 2000px;
    display: block;
    margin-bottom: -28px;
    padding: 5px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: left;
}

/* Watermark! Remove = Gay */

.twitch{
    visibility: hidden
}

.youtube{
    visibility: hidden
}

.youtube:after {
     content: 'Made By Envy#3063';
     font-size: 18px;
     position: fixed;
     left: 6%;
     color: rgb(255 255 255 / 0.85);
     visibility: visible;
     text-shadow: none
}

.twitch{
    visibility: hidden
}

.twitch:after {
     content: 'Owned By Dose#0001';
     font-size: 18px;
     position: fixed;
     left: 6%;
     color: rgb(255 255 255 / 0.85);
     visibility: visible;
     text-shadow: none
}

.streamItem{
    visibility: hidden
}

/* Ammo */

#ammoDisplay {
    margin-right: 50px;
    display: inline-block;
    padding: 7px;
    padding-top: 8px;
    padding-left: 20px;
    font-size: 35px;
    letter-spacing: -2px;
    border-radius: unset;
    height: 65px;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: url(../img/blank_2.png);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

#timerDisplay{
    margin-left: 50px
}